// Styling for the services section
#about {
  background-image: url('../img/banner_event.png');
  padding-bottom: 10px;
  .text-grouping {
    background-color: rgba(0, 0, 0, .7);
    width: 100%;
    color: white;
    padding: 25px;
    margin-bottom: 100px;
  }
  .text-muted {
    margin-bottom: 15px 0;
    text-transform: none;
    color:#aaa!important;
  }
}
